.banner-image {
  background-image: url(../img/banner-image.avif);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}

.input-group-text {
  cursor: pointer;
  background-color: white;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}
#map {
  height: 400px;
  width: 100%;
}
.card {
  border-radius: 10px !important;
}
.card img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card:hover {
  scale: 1.05;
  transition: 0.4s;
}
.card {
  transition: 0.4s;
}
.form-control {
  border: none !important;
}

.contact-image {
  position: relative;
}

.content-image-text {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
}
.collections_of_jaipur a {
  text-decoration: none;
}
.collections_of_jaipur_2 a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .text-truncate {
    font-size: 12px !important;
    display: block;
  }
  .card-title {
    font-size: 14px;
  }
  .content-image-text h6 {
    font-size: 14px;
  }
  .content-image-text p {
    font-size: 13px;
  }
  .collections_of_jaipur {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .collections_of_jaipur_2{
    display: none;
  }
}
